/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.table-of-contents {
  margin: 30px auto;
  background-color: #eee;
  padding: 10px 30px;
  border-left: 5px solid $accentColor;

  a {
    color: $textColor;
  }
}

.theme-default-content {
  h2 {
    margin-top: 50px;
  }

  p>img {
    margin: 20px auto;
  }
}
